<app-admin-navbar></app-admin-navbar>
<p
  class="text-center fw-bolder my-2 p-2 fs-2"
  style="background-color: var(--accent)"
>
  Update Your Academy
</p>
<form class="p-4" [formGroup]="updateAcademyForm">
  <div class="row">
    <div class="col">
      <div class="input-group mb-3">
        <span class="input-group-text"
          ><fa-icon [icon]="faUser"></fa-icon
        ></span>
        <div class="form-floating">
          <input
            type="text"
            id="editAcademyName"
            class="form-control"
            placeholder="academyname"
            formControlName="instituteName"
          />
          <label class="form-label">Academy Name</label>
        </div>
      </div>
      <div
        class="error"
        *ngIf="
          updateAcademyForm.get('instituteName').errors &&
          updateAcademyForm.get('instituteName').touched
        "
      >
        <fa-icon [icon]="faTriangleExclamation"></fa-icon>
        <p>Please enter your Academy Name !</p>
      </div>
    </div>
    <div class="col">
      <div class="input-group mb-3">
        <span class="input-group-text"
          ><fa-icon [icon]="faUser"></fa-icon
        ></span>
        <div class="form-floating">
          <input
            type="text"
            id="editContactNumber"
            class="form-control"
            placeholder="academycontact"
            formControlName="mobile"
          />
          <label class="form-label">Academy Contact</label>
        </div>
      </div>
      <div
        class="error"
        *ngIf="
          updateAcademyForm.get('mobile').errors &&
          updateAcademyForm.get('mobile').touched
        "
      >
        <fa-icon [icon]="faTriangleExclamation"></fa-icon>
        <p>Please enter your academy contact number !</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="input-group mb-3">
        <span class="input-group-text"
          ><fa-icon [icon]="faImage"></fa-icon
        ></span>
        <div class="form-floating">
          <input
            type="text"
            id="editimageUrl"
            class="form-control"
            placeholder="imageURL"
            formControlName="image"
          />
          <label class="form-label">Image URL</label>
        </div>
      </div>
      <div
        class="error"
        *ngIf="
          updateAcademyForm.get('image').errors &&
          updateAcademyForm.get('image').touched
        "
      >
        <fa-icon [icon]="faTriangleExclamation"></fa-icon>
        <p>Please enter your Image URL !</p>
      </div>
    </div>
    <div class="col">
      <div class="input-group mb-3">
        <span class="input-group-text"
          ><fa-icon [icon]="faEnvelope"></fa-icon
        ></span>
        <div class="form-floating">
          <input
            type="text"
            id="editEmailId"
            class="form-control"
            placeholder="academyemail"
            formControlName="email"
          />
          <label class="form-label"> Academy Email</label>
        </div>
      </div>
      <div
        class="error"
        *ngIf="
          updateAcademyForm.get('email').errors &&
          updateAcademyForm.get('email').touched
        "
      >
        <fa-icon [icon]="faTriangleExclamation"></fa-icon>
        <p>Please enter your academy email !</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="input-group mb-3">
        <span class="input-group-text"
          ><fa-icon [icon]="faLocation"></fa-icon
        ></span>
        <div class="form-floating">
          <textarea
            type="text"
            id="editAcademyLocation"
            class="form-control"
            placeholder="academylocation"
            formControlName="instituteAddress"
          ></textarea>
          <label class="form-label">Academy Location</label>
        </div>
      </div>
      <div
        class="error"
        *ngIf="
          updateAcademyForm.get('instituteAddress').errors &&
          updateAcademyForm.get('instituteAddress').touched
        "
      >
        <fa-icon [icon]="faTriangleExclamation"></fa-icon>
        <p>Please enter your academy location !</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="input-group mb-3">
        <span class="input-group-text"
          ><fa-icon [icon]="faBook"></fa-icon
        ></span>
        <div class="form-floating">
          <textarea
            type="text"
            id="editAcademyDescription"
            class="form-control"
            placeholder="academydescription"
            formControlName="instituteDescription"
            style="height: 150px"
          ></textarea>
          <label class="form-label">Description</label>
        </div>
      </div>
      <div
        class="error"
        *ngIf="
          updateAcademyForm.get('instituteDescription').errors &&
          updateAcademyForm.get('instituteDescription').touched
        "
      >
        <fa-icon [icon]="faTriangleExclamation"></fa-icon>
        <p>Please enter your academy description !</p>
      </div>
    </div>
  </div>
  <div class="">
    <button
      id="updateAcademy"
      class="btn addacademy"
      (click)="onUpdateAcademy()"
      routerLink="/admin/add-academy"
    >
      Update academy
      <fa-icon class="fs-4 ms-2" [icon]="faChessBishop"></fa-icon>
    </button>
  </div>
</form>
