<app-admin-navbar></app-admin-navbar> 
<div class="container p-2 my-1">
  <div class="row gap-5 align-center">
    <div class="col justify-content-center text wrap">
      <p class="fw-bolder text-start" style="font-size: 40px;">
         Welcome to our Chess Academy Portal <br> <span style="color: var(--accent);">ADMIN PANEL</span> 
      </p>
      <p class="fw-light" style="text-align: justify;">
        At our Chess Academy, we believe that chess is more than just a game. It
        is a timeless art form that combines intellect, strategy, creativity,
        and resilience. Whether you are a beginner taking your first steps on
        the 64 squares or a seasoned player seeking to refine your skills, our
        portal is designed to cater to your specific needs and aspirations. It is a timeless art form that combines
        intellect, strategy, creativity, and resilience. Whether you are a beginner taking your first steps on the 64
        squares or a seasoned player seeking to refine your skills, our portal is designed to cater to your specific
        needs and aspirations.
      </p>
    </div>
    <div class="col m-2">
      <img class="img-fluid w-100" src="../../../../assets/admin-header-img.png" alt="" />
    </div>
  </div>
</div>
<div id="allAcademy">
<p class="text-center fw-bolder fs-3 allacademies">All Academies</p>
<div class="input-group w-50 mx-auto mt-4" id="search-bar">
  <input
    type="text"
    id="searchAcademy"
    class="form-control"
    placeholder="Search the academy by name..."
    [(ngModel)]="inputvalue"
  />
  <button id="searchButton" class="btn" style="background-color: var(--accent); width: 70px;" type="click" (click)="onSearch()"><fa-icon [icon]="faSearch" style="transition: all 0.5s;
    color: var(--primary); font-size: 20px;"></fa-icon></button>
</div>
<button class="btn addacademy" routerLink="/admin/addInstitute">
  Add new academy <fa-icon class="fs-4 ms-2" [icon]="faChessBishop"></fa-icon>
</button>

<div class="container-fluid cards" >
  <div class="row">
    <div
      class="col-lg-4 mb-4"
      *ngFor="let academy of academies | filter : searchInInput:'instituteName'; let i=index"
    >
      <div class="grid-card" id="adminAcademyGrid{{i+1}}">
        <a
          href=""
          routerLink="/admin/viewCourse/{{ academy.instituteId }}"
          style="height: 200px"
        >
          <img
            src="{{ academy.image }}"
            alt="adminAcademyGrid{{i+1}}"
            class="card-img-top"
            style="height: 100%"
          />
        </a>
        <div class="card-body">
          <h5 class="card-title text-center">
            {{ academy.instituteName }}
          </h5>
          <div class="">
            <div>
              <div class="d-flex justify-content-between mt-4 w-100" style="align-items: center;">
                <div>
                  <p
                  class="card-text text-justify lh-1 fs-6 fst-italic text-wrap"
                  style="text-align: justify; text-justify: inter-word"
                >
                  Description: {{ academy.instituteDescription }}
                </p>
                </div>
                <div>
                  <ngb-rating [max]="5" [(rate)]="academy.averageRating" [readonly]="true"></ngb-rating>
                </div>
              </div>
              <div class="d-flex justify-content-between mt-4 w-100">
                <div>
                  <p>Place: {{ academy.instituteAddress }}</p>
                </div>
                <div>
                  <a
                    class="edit pe-3"
                    routerLink="/admin/editInstitute/{{ academy.instituteId }}"
                    id="editAcademy"
                    ><fa-icon [icon]="faPenToSquare"></fa-icon
                  ></a>
                  <a
                    class="delete pe-2"
                    routerLink="/admin/deleteInstitute/{{
                      academy.instituteId
                    }}"
                    (click)="deleteAcademy(academy.instituteId)"
                    id="deleteAcademy"
                    ><fa-icon [icon]="faTrashCan"></fa-icon
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>