<footer class="footer-section">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="widget company-intro-widget">
              <a class="site-logo fs-4" style="color:var(--primary); cursor: pointer">Chess academy <fa-icon [icon]="faChessKnight"></fa-icon> </a>
              <p>At our Chess Academy, we believe that chess is more than just a game. It is a timeless art form that combines intellect, strategy, creativity, and resilience.</p>
              <ul class="company-footer-contact-list">
                <li><i class="fas fa-phone"></i>+911234567890</li>
                <li><i class="fas fa-clock"></i>9am - 10pm</li>
              </ul>
            </div>
          </div><!-- widget end -->
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="widget course-links-widget">
              <h5 class="widget-title">Popular Academies</h5>
              <ul class="courses-link-list">
                <li><a><i class="fas fa-long-arrow-alt-right"></i>Chess Academy 1</a></li>
                <li><a><i class="fas fa-long-arrow-alt-right"></i>Chess Academy 2 </a></li>
                <li><a><i class="fas fa-long-arrow-alt-right"></i>Chess Academy 3</a></li>
                <li><a><i class="fas fa-long-arrow-alt-right"></i>Chess Academy 4 </a></li>
                <li><a><i class="fas fa-long-arrow-alt-right"></i>Chess Academy 5</a></li>
                <li><a><i class="fas fa-long-arrow-alt-right"></i>Chess Academy 6</a></li>
              </ul>
            </div>
          </div><!-- widget end -->
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="widget latest-news-widget">
              <h5 class="widget-title">lastest news</h5>
              <ul class="small-post-list">
                <li>
                  <div class="small-post-item">
                    <a class="post-date">New courses coming</a>
                    <h6 class="small-post-title"><a>Basic to advance chess course.</a></h6>
                  </div>
                </li><!-- small-post-item end -->
                <li>
                  <div class="small-post-item">
                    <a class="post-date">We are coming to your city</a>
                    <h6 class="small-post-title"><a>Coming soon.</a></h6>
                  </div>
                </li><!-- small-post-item end -->
              </ul>
            </div>
          </div><!-- widget end -->
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="widget newsletter-widget">
              <h5 class="widget-title">Help & Support</h5>
              <div class="footer-newsletter">
                <p>Click on below button and drop your query</p>
                <form class="news-letter-form">
                  <a href="mailto:chessacademyofficial@gmail.com" class="p-2" style="background-color: var(--accent);color: white;">Mail Us</a>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 text-sm-left text-center">
              <span class="copy-right-text">© 2023 Chess Academy all Rights Reserved.</span>
            </div>
            <div class="col-md-6 col-sm-6">
              <ul class="terms-privacy d-flex justify-content-sm-end justify-content-center">
                <li><a>Terms & Conditions</a></li>
                <li><a>Privacy Policy</a></li>
              </ul>
            </div>
        </div>
      </div>
    </div>
  </footer>