<app-admin-navbar></app-admin-navbar>
<p class="text-center fw-bolder fs-2 p-2 my-2" style="background-color: var(--accent);">Update Student Details</p>
<form class="p-4" [formGroup]="updateStudentForm">
  <div class="row">
    <div class="col">
      <div class="input-group mb-3">
        <span class="input-group-text"
          ><fa-icon [icon]="faUser"></fa-icon
        ></span>
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            placeholder="firstname"
            formControlName="firstname"
          />
          <label class="form-label">Firstname</label>
        </div>
      </div>
      <div
        class="error" *ngIf="
        updateStudentForm.get('firstname').errors &&
        updateStudentForm.get('firstname').touched
      "
      >
        
        <p  *ngIf="
        updateStudentForm.get('firstname').errors.required 
      ">Please enter your firstname !</p>
      <p  *ngIf="
        updateStudentForm.get('firstname').errors.pattern 
      ">Special characters and numbers are not allowed !</p>
      </div>
    </div>
    <div class="col">
      <div class="input-group mb-3">
        <span class="input-group-text"
          ><fa-icon [icon]="faUser"></fa-icon
        ></span>
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            placeholder="lastname"
            formControlName="lastname"
          />
          <label class="form-label">Lastname</label>
        </div>
      </div>
      <div class="error" *ngIf="
      updateStudentForm.get('lastname').errors &&
      updateStudentForm.get('lastname').touched
    ">
        <p *ngIf="
        updateStudentForm.get('lastname').errors.required 
      ">Please enter your lastname !</p>
      <p *ngIf="
        updateStudentForm.get('lastname').errors.pattern
      ">Special characters and numbers are not allowed !</p>
      </div>
    </div>
    <div class="col">
      <div class="input-group mb-3">
        <span class="input-group-text"
          ><fa-icon [icon]="faVenusMars"></fa-icon
        ></span>
        <select formControlName="gender" id="gender" class="form-control">
          <option value="" disabled selected>Select gender</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
      </div>
      <div style="color: red;"*ngIf="updateStudentForm.get('gender').touched && updateStudentForm.get('gender').errors" >
        Select your gender !
      </div>
    </div>
  </div>
  <div class="row">
    <div class="row">
      <div class="col">
        <div class="input-group mb-3">
          <span class="input-group-text"
            ><fa-icon [icon]="faPerson"></fa-icon
          ></span>
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              placeholder="fathername"
              formControlName="fathername"
            />
            <label class="form-label">Fathername</label>
          </div>
        </div>
        <div
          class="error"
          *ngIf="
          updateStudentForm.get('fathername').errors &&
          updateStudentForm.get('fathername').touched
        "
        >
          
          <p   *ngIf="
          updateStudentForm.get('fathername').errors.required 
        ">Please enter your fathername !</p>
        <p *ngIf="
          updateStudentForm.get('fathername').errors.pattern 
        ">Special characters and numbers are not allowed !</p>
        </div>
      </div>
      <div class="col">
        <div class="input-group mb-3">
          <span class="input-group-text"
            ><fa-icon [icon]="faMobile"></fa-icon
          ></span>
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              placeholder="phonenumber"
              formControlName="phonenumber"
            />
            <label class="form-label">Mobile Number</label>
          </div>
        </div>
        <div
          class="error"
          *ngIf="
          updateStudentForm.get('phonenumber').errors &&
          updateStudentForm.get('phonenumber').touched
        "
        >
          
          <p  *ngIf="
          updateStudentForm.get('phonenumber').errors.required 
        ">Please enter your Mobile Number !</p>
        <p  *ngIf="
          updateStudentForm.get('phonenumber').errors.pattern 
        ">Mobile number format is not correct !</p>
        </div>
      </div>
      <div class="col">
        <div class="input-group mb-3">
          <span class="input-group-text"
            ><fa-icon [icon]="faMobile"></fa-icon
          ></span>
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              placeholder="alternatenumberr"
              formControlName="alternatenumber"
            />
            <label class="form-label">Alternate Mobile Number</label>
          </div>
        </div>
        <div
          class="error"
          *ngIf="
          updateStudentForm.get('alternatenumber').errors &&
          updateStudentForm.get('alternatenumber').touched
        "
        >
          
          <p *ngIf="
          updateStudentForm.get('alternatenumber').errors.required 
        ">Please enter your alternate mobile number !</p>
        <p *ngIf="
          updateStudentForm.get('alternatenumber').errors.pattern
        ">Mobile number format is not correct !</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="input-group mb-3">
        <span class="input-group-text"
          ><fa-icon [icon]="faPersonDress"></fa-icon
        ></span>
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            placeholder="mothername"
            formControlName="mothername"
          />
          <label class="form-label">Mother name</label>
        </div>
      </div>
      <div
        class="error"
        *ngIf="
        updateStudentForm.get('mothername').errors &&
        updateStudentForm.get('mothername').touched
      "
      >
        <p  *ngIf="
        updateStudentForm.get('mothername').errors.required 
      ">Please enter your mother name !</p>
      <p  *ngIf="
      updateStudentForm.get('mothername').errors.pattern
    ">Special characters is not allowed !</p>
      </div>
    </div>
    <div class="col">
      <div class="input-group mb-3">
        <span class="input-group-text"
          ><fa-icon [icon]="faEnvelope"></fa-icon
        ></span>
        <div class="form-floating">
          <input
            type="email"
            class="form-control"
            placeholder="email"
            formControlName="email"
          />
          <label class="form-label">Email</label>
        </div>
      </div>
      <div
        class="error"
        *ngIf="
        updateStudentForm.get('email').errors && updateStudentForm.get('email').touched
      "
      >
        
        <p   *ngIf="
        updateStudentForm.get('email').errors.required
      ">Please enter your email !</p>
      <p   *ngIf="
        updateStudentForm.get('email').errors.email
      ">Email format is not correct !</p>
      </div>
    </div>
    <div class="col">
      <div class="input-group mb-3">
        <span class="input-group-text"
          ><fa-icon [icon]="faUser"></fa-icon
        ></span>
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            placeholder="age"
            formControlName="age"
          />
          <label class="form-label">age</label>
        </div>
      </div>
      <div class="error" *ngIf=" updateStudentForm.get('age').errors && updateStudentForm.get('age').touched">
        <p *ngIf=" updateStudentForm.get('age').errors.required ">Please enter your age !</p>
        <p *ngIf=" updateStudentForm.get('age').errors.pattern">Please enter a valid age !</p>
      </div>
    </div>
  </div>
<div class="additional-info"> <p class="fs-5 fst-italic ms-3">Some Additional Information</p>
  <div class="row">
    <div class="col">
      <div class="input-group mb-3">
        <span class="input-group-text"
          ><fa-icon [icon]="faHouse"></fa-icon
        ></span>
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            placeholder="housenumber"
            formControlName="housenumber"
          />
          <label class="form-label">House Number</label>
        </div>
      </div>
      <div
        class="error1"
        *ngIf="
          updateStudentForm.get('housenumber').errors &&
          updateStudentForm.get('housenumber').touched
        "
      >
        
        <p>Please enter your house number !</p>
      </div>
    </div>
    <div class="col">
      <div class="input-group mb-3">
        <span class="input-group-text"
          ><fa-icon [icon]="faRoad"></fa-icon
        ></span>
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            placeholder="street"
            formControlName="street"
          />
          <label class="form-label">Street Address</label>
        </div>
      </div>
      <div
        class="error1"
        *ngIf="
          updateStudentForm.get('street').errors &&
          updateStudentForm.get('street').touched
        "
      >
        
        <p>Please enter your street address !</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="input-group mb-3">
        <span class="input-group-text"
          ><fa-icon [icon]="faRoad"></fa-icon
        ></span>
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            placeholder="area"
            formControlName="area"
          />
          <label class="form-label">Area</label>
        </div>
      </div>
      <div
        class="error1"
        *ngIf="
          updateStudentForm.get('area').errors &&
          updateStudentForm.get('area').touched
        "
      >
        
        <p>Please enter your area !</p>
      </div>
    </div>
    <div class="col">
      <div class="input-group mb-3">
        <span class="input-group-text"
          ><fa-icon [icon]="faMobile"></fa-icon
        ></span>
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            placeholder="passcode"
            formControlName="passcode"
          />
          <label class="form-label">Passcode</label>
        </div>
      </div>
      <div
        class="error1"
        *ngIf="
        updateStudentForm.get('passcode').errors &&
        updateStudentForm.get('passcode').touched
      "
      >
        
        <p  *ngIf="
        updateStudentForm.get('passcode').errors.required
      ">Please enter your passcode !</p>
      <p  *ngIf="
      updateStudentForm.get('passcode').errors.pattern
    ">Please enter valid passcode !</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="input-group mb-3">
        <span class="input-group-text"
          ><fa-icon [icon]="faHouse"></fa-icon
        ></span>
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            placeholder="state"
            formControlName="state"
          />
          <label class="form-label">State</label>
        </div>
      </div>
      <div
        class="error1"
        *ngIf="
          updateStudentForm.get('state').errors &&
          updateStudentForm.get('state').touched
        "
      >
        
        <p *ngIf="updateStudentForm.get('state').errors.required ">Please enter your state !</p>
        <p *ngIf="updateStudentForm.get('state').errors.pattern ">Please enter valid name of state !</p>
      </div>
    </div>
    <div class="col">
      <div class="input-group mb-3">
        <span class="input-group-text"
          ><fa-icon [icon]="faHouse"></fa-icon
        ></span>
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            placeholder="nationality"
            formControlName="nationality"
          />
          <label class="form-label">Nationality</label>
        </div>
      </div>
      <div
        class="error1"
        *ngIf="
          updateStudentForm.get('nationality').errors &&
          updateStudentForm.get('nationality').touched
        "
      >
        
        <p *ngIf="updateStudentForm.get('nationality').errors.required">Please enter your nationality !</p>
        <p *ngIf="updateStudentForm.get('nationality').errors.pattern">Special characters and numbers are not allowed !</p>
      </div>
    </div>
  </div>
</div>

  <div class="">
    <button class="btn updateStudent" (click)="onUpdateStudent()">
      Update Admission Details
    </button>
  </div>
</form>