form {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border: none;
    border-radius: 10px;
    width: 50%;
    padding: 2rem;
    margin: 1rem auto;
  }
  .error {
    display: flex;
    align-items: flex-start;
    gap: 7px;
    font-size: 15px;
    margin-left: 5px;
  }
 
  .error p {
    color:red;
    margin-top: 0.2px;
  }
  .addcourse {
    box-shadow: rgba(0, 0.3, 0.3, 0.25) 1.95px 1.95px 2.6px;
    border: none;
    padding: 0.7rem;
    font-size: 18px;
    width: 250px;
    font-weight: 400;
    transition: all 0.6s;
  }
  .addcourse:hover {
    color: var(--primary);
    box-shadow: 0 0 20px rgba(42, 42, 43, 0.6);
    background-color: var(--accent);
  }
  
  @media screen and (max-width: 1036px) {
    form {
      width: 90%;
    }
  }
  