<app-admin-navbar></app-admin-navbar>
<p class="text-center fw-bolder fs-2 p-2 my-2" style="background-color: var(--accent);">Add Student</p>
<div class="bg">
  <form [formGroup]="signupForm">
    <div class="row">
      <div class="col">
        <div class="input-group mb-3">
          <span class="input-group-text"><fa-icon [icon]="faEnvelope"></fa-icon>
          </span>
          <div class="form-floating">
            <input id="email" type="email" class="form-control" placeholder="Email" formControlName="email" />
            <label class="form-label">Email</label>
          </div>
        </div>
        <div class="error" *ngIf="
            signupForm.get('email').errors && signupForm.get('email').touched
          ">
          <p *ngIf="signupForm.get('email').errors.required">
             Please enter your
            email !
          </p>
          <p *ngIf="signupForm.get('email').errors.email">
             Email format is
            incorrect !
          </p>
        </div>
      </div>
      <div class="col">
        <div class="input-group mb-3">
          <span class="input-group-text"><fa-icon [icon]="faUser"></fa-icon>
          </span>
          <div class="form-floating">
            <input id="username" type="text" class="form-control" placeholder="Username" formControlName="username" />
            <label class="form-label">Username</label>
          </div>
        </div>
        <div class="error" *ngIf="
            signupForm.get('username').errors &&
            signupForm.get('username').touched
          ">

          <p *ngIf="signupForm.get('username').errors.required">
            Please enter your username !</p>
          <p *ngIf="signupForm.get('username').errors.pattern">
            Special Characters and numbers are not allowed!</p>
        </div>
      </div>
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text"><fa-icon [icon]="faMobile"></fa-icon></span>
      <div class="form-floating">
        <input id="mobileNumber" type="text" class="form-control" placeholder="mobilenumber"
          formControlName="mobileNumber" />
        <label class="form-label">Phone number</label>
      </div>
    </div>
    <div class="error" *ngIf="
        signupForm.get('mobileNumber').errors &&
        signupForm.get('mobileNumber').touched
      ">
      <p *ngIf="signupForm.get('mobileNumber').errors.required">
         Please enter your
        mobilenumber !
      </p>
      <p *ngIf="signupForm.get('mobileNumber').errors.pattern">
         Mobile Number format
        is incorrect
      </p>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text"><fa-icon [icon]="faLock"></fa-icon></span>
      <div class="form-floating">
        <input type="{{ passType }}" class="form-control" id="password" placeholder="Password"
          formControlName="password" [(ngModel)]="password" />
        <span class="password-toggle-icon" (click)="toggle()" *ngIf="!showPass"><fa-icon
            [icon]="faEyeSlash"></fa-icon></span>
        <span class="password-toggle-icon" (click)="toggle()" *ngIf="showPass"><fa-icon [icon]="faEye"></fa-icon></span>
        <label for="password" class="form-label">Password</label>
      </div>
    </div>
    <div class="error" *ngIf="
        signupForm.get('password').errors && signupForm.get('password').touched
      ">
      <p class="error" *ngIf="signupForm.get('password').errors.required">
         Please enter your
        password !
      </p>
      <p class="error" *ngIf="signupForm.get('password').errors.minlength">
         Password length is
        too short !
      </p>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text"><fa-icon [icon]="faLock"></fa-icon></span>
      <div class="form-floating">
        <input type="{{ confirmPassType }}" class="form-control" id="confirmPassword" placeholder="confirmPassword"
          formControlName="confirmPassword" [(ngModel)]="confirmPassword" />
        <span class="password-toggle-icon" (click)="toggleConfirmPass()" *ngIf="!showConfirmPass"><fa-icon
            [icon]="faEyeSlash"></fa-icon></span>
        <span class="password-toggle-icon" (click)="toggleConfirmPass()" *ngIf="showConfirmPass"><fa-icon
            [icon]="faEye"></fa-icon></span>
        <label for="confirmPassword" class="form-label">Confirm password</label>
      </div>
    </div>
    <div class="error">
      <p class="error" *ngIf="
          signupForm.get('confirmPassword').errors &&
          signupForm.get('confirmPassword').touched
        ">
        
        Please re-enter your password !
      </p>
      <p class="error" *ngIf="
          password != confirmPassword &&
          signupForm.get('confirmPassword').touched
        ">
        
        Password not matched
      </p>
    </div>
    <button type="submit" id="submitButton" (click)="onAddStudent()" class="btn w-100">
      Add Student
    </button>
  </form>
</div>

