<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <a class="navbar-brand fs-3 fw-bold" routerLink="/user/login">Chess academy <fa-icon [icon]="faChessKnight"></fa-icon>  <br><span class="fst-italic fw-light" style="color:#000;">Hii, {{userName}}</span></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse fs-5 fw-light" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/user/login" (click)="scrollToAcademy()">Academy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/user/viewAdmission" >Enrolled Courses</a>
          </li>
        </ul>
        <button type="button" class="btn" id="logoutbutton" (click)="logout()">Logout</button>
      </div>
    </div>
  </nav>
